/* GENERAL */
#root {
  left: 0;
  right: 0;
  width: 750px;
  margin: auto;
}

/* LAYOUT */
#header {
  /* border-bottom: 1px solid; */
  margin-top: 64px;
}

#header-title {
  font-size: 19pt;
  font-weight: bold;
  display: flex;
  align-content: center;
  align-items: center;
}

#header-title-icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

#header-subtitle {
  margin: 10px 0;
}

#main {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
}

/* NAV */
#nav {
  flex: 1;
  flex-grow: 1;
}

#nav-list {
  border-right: 1px solid;
}

#nav-list > .nav-item {
  font-size: 20px;
  padding: 12px 0;
  cursor: pointer;
  font-size: 12pt;
}

#nav-list > .nav-item:hover:not(.active-nav-item) {
  text-decoration: underline;
}

.nav-item.active-nav-item {
  font-weight: bold;
  color: #4087c5;
}

/* MAIN CONTENT */
#content {
  flex: 1;
  flex-grow: 3;
  padding-left: 32px;
}

#content > div {
  display: none;
}

#content > div.active-content {
  display: unset;
}

.options-page-header {
  padding: 20px;
}

.options-page-title {
  flex-grow: 1;
  font-size: 32pt;
  font-weight: bolder;
  margin-bottom: 8px;
}

/* BROWSER PRIVACY */

#privacy-button-container {
  flex-shrink: 1;
  min-width: 150px;
  cursor: pointer;
}

#privacy-body {
  padding: 20px;
}

.privacy-setting {
  padding: 10px;
  margin-bottom: 32px;
}

.privacy-setting-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.privacy-setting-header-title-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.privacy-setting-header-title-container svg {
  width: 32px;
  margin-right: 12px;
  border-radius: 90%;
  padding: 4px;
}

.privacy-setting-header-select-container {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}

.privacy-setting-title {
  flex-grow: 1;
  font-size: 19pt;
  font-weight: bold;
}

.privacy-setting-select {
  min-width: 164px;
  cursor: pointer;
  border: 2px solid #4087c5;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 3px;
}

.privacy-setting-details-recommendation {
  text-align: right;
}

.privacy-setting-details-recommendation.warn {
  color: #e25555;
}

.privacy-setting-reasons-heading {
  margin-top: 16px;
  margin-bottom: 4px;
  font-size: 11pt;
}

/* EXTENSIONS */
#extensions > div {
  display: none;
}

#extensions > div.active-extensions-content {
  display: unset;
}

/* EXTENSIONS LIST */

#extensions-list-body {
  padding: 20px;
}

.extension-list-item {
  margin: 20px 0;
  padding: 24px 8px 24px 32px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.extension-list-item:hover {
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);
}

.extension-list-item:hover .extension-list-item-title {
  color: #84b6f2;
  text-decoration: underline;
}

.extension-list-item-header {
  display: flex;
  flex-direction: row;
}

.extension-list-item-icon {
  height: 16px;
  margin-right: 10px;
}

.extension-list-item-title {
  flex-grow: 1;
  font-weight: bold;
  font-size: 12pt;
}

.extension-list-item-description {
  padding: 10px 0;
  text-decoration: none;
}

.extension-list-item-permission-info {
  text-decoration: none;
}

/* EXTENSION DETAILS */
#extension-details-header {
  padding: 20px 20px 0 20px;
  width: calc(100% - 40px);
}

#extension-details-back-button {
  background: none;
  border: none;
  padding: 4px 12px 4px 0;
  margin: 0;
  font-size: 12pt;
  margin-bottom: 16px;
  display: flex;
  align-content: center;
  align-items: center;
  /* color: #383838; */
}

#extension-details-back-button:hover {
  cursor: pointer;
  color: #84b6f2;
}

#extension-details-icon > img {
  height: 16px;
  margin-right: 10px;
}

#extension-details-name {
  flex-grow: 1;
  font-size: 24pt;
  font-weight: bolder;
}

#extension-details-description {
  margin-bottom: 32px;
}

#extension-details-uninstall-button {
  background: none;
  border: none;
  margin: 0;
  background-color: #e25555;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 32px;
  font-size: 13pt;
}

#extension-details-uninstall-button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);
  background-color: #c94242;
}

#extension-details-body {
  padding: 20px;
}

#extension-details-body-title {
  font-weight: bold;
}

#extension-details-body-permissions {
  margin-top: 20px;
}

.extension-details-permission {
  margin: 20px 0;
}

.extension-details-permission-title {
  flex-grow: 1;
  font-size: 19pt;
  font-weight: bold;
  margin-bottom: 8px;
}

/* SETTINGS */
#settings-header {
  padding: 20px;
}

#settings-lists {
  margin: 20px;
}

.settings-list-container {
  margin-bottom: 20px;
}

.settings-list-header {
  font-size: 16pt;
  font-weight: bold;
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-content: center;
  align-items: center;
}

#settings-list-container {
  position: relative;
  display: flex;
  flex-grow: 1;
}

#settings-list-container:hover #settings-list-description-popup {
  display: block;
}

#settings-list-description-popup {
  top: -128px;
  left: 32px;
  position: absolute;
  display: none;
  background-color: #ffffff;
  color: #383838;
  border: 1px solid #ececec;
  padding: 16px 32px;
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.2);
  width: 500px;
}

.settings-list-description {
  font-size: 12pt;
  font-weight: normal;
}

.settings-list-container > textarea {
  width: 100%;
}

#settings-list-hardcoded {
  margin: 10px 0;
  font-size: 12pt;
  margin-bottom: 20px;
}

#settings-actions {
  padding: 20px;
}

#settings-actions-save-button {
  background: none;
  border: none;
  margin: 0;
  background-color: #5187c0;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 32px;
  font-size: 13pt;
}

#settings-actions-save-button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);
  background-color: #84b6f2;
}

#theme-settings {
  padding: 20px;
}

#theme-settings-header {
  font-size: 16px;
}

.theme-select {
  margin-top: 16px;
  min-width: 256px;
  cursor: pointer;
  border: 2px solid #4087c5;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 3px;
}

.theme-option {
  text-transform: capitalize;
}

.light .font-dark {
  color: #242424;
}

.dark .font-dark {
  color: #ffffff;
}

.light .font-medium {
  color: #282828;
}

.dark .font-medium {
  color: #ffffff;
}

.light .font-light {
  color: #383838;
}

.dark .font-light {
  color: #ffffff;
}

/* THEMES */
/* LIGHT */
.light {
  background-color: #ffffff;
  color: #282828;
}

.light #main div {
  border-color: #dadada;
}

.light .nav-item {
  color: #696969;
}

.light .nav-item.active-nav-item {
  color: #4087c5;
}

.light .colored-path {
  fill: black;
}

/* DARK */
.dark {
  background-color: #404552;
  color: white;
}

.dark #main div {
  border-color: #686868;
}

.dark .nav-item {
  color: #ffffff;
}

.dark .nav-item.active-nav-item {
  color: #4087c5;
}

.dark button {
  background-color: #404552;
  color: white;
}

.dark select {
  background-color: white;
}

.dark textarea {
  background-color: white;
  color: #404552;
  border-color: #404552;
}

.dark textarea {
  outline-color: #404552;
}

.dark .extension-list-item {
  background-color: #363a46;
}

.dark .colored-path {
  fill: white;
}
