/* GENERAL */
#root {
  left: 0;
  right: 0;
  width: 750px;
  margin: auto;
}

/* LAYOUT */
#header {
  /* border-bottom: 1px solid; */
  margin-top: 64px;
  color: #383838;
}

#header-title {
  font-size: 19pt;
  font-weight: bold;
  display: flex;
  align-content: center;
  align-items: center;
}

#header-title-icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

#header-subtitle {
  margin: 10px 0;
}

#main {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
}

/* NAV */
#nav {
  flex: 1;
  flex-grow: 1;
}

#nav-list {
  border-right: 1px solid;
}

#nav-list > .nav-item {
  font-size: 20px;
  padding: 12px 0;
  cursor: pointer;
  font-size: 12pt;
  color: #696969;
}

#nav-list > .nav-item:hover:not(.active-nav-item) {
  text-decoration: underline;
}

#nav-list > .nav-item.active-nav-item {
  font-weight: bold;
}

/* MAIN CONTENT */
#content {
  flex: 1;
  flex-grow: 3;
  padding-left: 32px;
}

#content > div {
  display: none;
}

#content > div.active-content {
  display: unset;
}

/* BROWSER PRIVACY */
#privacy-header {
  padding: 20px;
}

#privacy-title {
  flex-grow: 1;
  font-size: 32pt;
  font-weight: bolder;
  margin-bottom: 8px;
}

#privacy-button-container {
  flex-shrink: 1;
  min-width: 150px;
  cursor: pointer;
}

#privacy-body {
  padding: 20px;
}

.privacy-setting {
  padding: 10px;
  margin-bottom: 32px;
}

.privacy-setting-header {
  display: flex;
  flex-direction: row;
}

.privacy-setting-title {
  flex-grow: 1;
  font-size: 19pt;
  font-weight: bold;
}

.privacy-setting-select {
  flex-shrink: 1;
  min-width: 150px;
  cursor: pointer;
  border: 2px solid #4087c5;
  border-radius: 4px;
  padding: 8px;
}

.privacy-setting-details-recommendation {
  text-align: right;
  padding-top: 4px;
  padding-bottom: 16px;
}

.privacy-setting-details-recommendation.warn {
  color: #e25555;
}

.privacy-setting-reasons-heading {
  margin-top: 16px;
  margin-bottom: 4px;
  font-size: 11pt;
}

/* EXTENSIONS */
#extensions > div {
  display: none;
}

#extensions > div.active-extensions-content {
  display: unset;
}

/* EXTENSIONS LIST */
#extensions-list-header {
  padding: 20px;
  display: flex;
  align-items: center;
}

#extensions-list-body {
  padding: 20px;
}

.extension-list-item {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid;
  cursor: pointer;
}

.extension-list-item-header {
  display: flex;
  flex-direction: row;
}

.extension-list-item-icon {
  height: 16px;
  margin-right: 10px;
}

.extension-list-item-title {
  flex-grow: 1;
}

.extension-list-item-description {
  padding: 10px 0;
}

/* EXTENSION DETAILS */
#extension-details-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 20px 0 20px;
  width: calc(100% - 40px);
}

#extension-details-back-button {
  cursor: pointer;
  border: 1px solid;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  margin-right: 10px;
}

#extension-details-icon > img {
  height: 16px;
  margin-right: 10px;
}

#extension-details-name {
  flex-grow: 1;
}

#extension-details-description {
  margin-top: 10px;
  padding: 0px 20px 20px 20px;
}

#extension-details-body {
  padding: 20px;
}

#extension-details-body-title {
  font-size: 20px;
  font-weight: bold;
}

#extension-details-body-permissions {
  margin-top: 20px;
}

.extension-details-permission {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid black;
}

/* SETTINGS */
#settings-header {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

#settings-lists {
  margin: 20px;
}

.settings-list-container {
  margin-bottom: 20px;
}

.settings-list-header {
  font-size: 16px;
}

.settings-list-container > textarea {
  width: 100%;
}

#settings-list-hardcoded {
  margin: 10px 0;
}

#settings-actions {
  padding: 20px;
}

#settings-actions > button {
  min-width: 150px;
}

#theme-settings {
  padding: 20px;
}

#theme-settings-header {
  font-size: 16px;
}

.theme-select {
  min-width: 150px;
  margin: 10px 0;
  text-transform: capitalize;
}

.theme-option {
  text-transform: capitalize;
}

.light .font-dark {
  color: #383838;
}

.dark .font-dark {
  color: #ffffff;
}

.light .font-medium {
  color: #505050;
}

.dark .font-medium {
  color: #cecece;
}

.light .font-light {
  color: #757575;
}

.dark .font-light {
  color: #ececec;
}

/* THEMES */
/* LIGHT */
.light {
  background-color: #ffffff;
  color: #282828;
}

.light #main div {
  border-color: #dadada;
}

.light #nav-list > .nav-item.active-nav-item {
  color: #4087c5;
}

/* DARK */
.dark {
  background-color: #404552;
  color: white;
}

.dark #main div {
  border-color: yellow;
}

.dark #nav-list > .nav-item.active-nav-item {
  color: red;
}

.dark button {
  background-color: #404552;
  color: white;
}

.dark select {
  background-color: white;
}

.dark textarea {
  background-color: white;
  color: #404552;
  border-color: #404552;
}

.dark textarea {
  outline-color: #404552;
}
