/* PRIVACY */
.privacy-button {
  margin-left: 10px;
}

/* EXTENSIONS */
.tippy-content {
  text-align: center;
}

.tippy-box[data-theme~='moi'][data-placement^='top'] > .tippy-arrow:before {
  left: -150px;
}

.extension-name {
  font-weight: bold;
}
