body {
  width: 400px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: normal;
  font-size: 12pt;
}

/* Sections */

#trustHeader {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid;
}

.red {
  background-color: #f5474f;
  color: #ffffff;
}

.grey {
  background-color: #e9e9e9;
  color: #282828;
}

.section-container {
  padding: 16px 32px;
  border-bottom: 1px solid;
  text-align: center;
}

.section-heading {
  font-size: 13pt;
  padding: 0 22px;
  margin: 4px 0 24px 0;
  font-weight: normal;
  text-align: center;
}

/* SAD */

.sad-info-paragraph {
  margin: 4px 0;
  padding: 0;
}

/* PCP */

.content-setting {
  text-transform: capitalize;
}
.content-setting.allow {
  color: green;
}
.content-setting.block {
  color: red;
}
.content-setting.ask {
  color: orange;
}
.content-setting-content {
  text-align: center;
}
.content-settings-expand {
  text-decoration: underline;
  cursor: pointer;
}
.content-setting-select {
  margin-left: 10px;
}
.content-setting-select,
.content-setting-option {
  text-transform: capitalize;
}
.content-setting-p {
  display: flex;
  flex-direction: row;
}
.content-setting-read-more {
  opacity: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 50px;
}
.content-setting-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 100px);
}
.content-setting-hidden {
  display: none;
}
.content-setting-description-hidden:hover {
  background-color: gainsboro;
}
.content-setting-description-hidden:hover .content-setting-read-more {
  opacity: 1;
}
.content-setting-description-hidden .content-setting-read-more:hover {
  cursor: pointer;
}
.content-setting-description-hidden .content-setting-description {
  display: none;
}
.aggregate-content {
  text-align: center;
}

/* PIS */

.call-to-action {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 32px;
  cursor: pointer;
}

.call-to-action:hover {
  text-decoration: underline;
}

#pisContainer {
  height: 500px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
}

#pisContent {
  height: 100%;
}

.footerCallToAction {
  background-color: #3f88c5;
  color: #ffffff;
  padding: 16px 32px;
  text-align: center;
  cursor: pointer;
}

/* Utility */

.no-margin {
  margin: 0;
}

.hidden {
  display: none;
}

/* THEMES */
/* LIGHT */
.light {
  background-color: white;
}

.light .section-container {
  border-bottom-color: #e9e9e9;
}

.light #trustHeader {
  border-bottom-color: #e9e9e9;
}

.light .content-settings-expand {
  color: blue;
}

.light .call-to-action:hover {
  color: #383838;
}

/* DARK */
.dark {
  background-color: #404552;
  color: white;
}

.dark .section-container {
  border-bottom-color: white;
}

.dark #trustHeader {
  border-bottom-color: white;
}

.dark .content-settings-expand {
  color: red;
}

.dark .call-to-action:hover {
  color: gainsboro;
}

/* HULKAMANIA */
.hulkamania {
  background-color: yellow;
  color: red;
}

.hulkamania .section-container {
  border-bottom-color: red;
}

.hulkamania #trustHeader {
  border-bottom-color: red;
}

.hulkamania .content-settings-expand {
  color: black;
}

.hulkamania .call-to-action:hover {
  color: orangered;
}
