body {
  width: 400px;
}

.content-setting {
  text-transform: capitalize;
}
.content-setting.allow {
  color: green;
}
.content-setting.block {
  color: red;
}
.content-setting.ask {
  color: orange;
}
.content-setting-select {
  margin-left: 10px;
}
.content-setting-select,
.content-setting-option {
  text-transform: capitalize;
}

.aggregate-content {
  text-align: center;
}
